[Unit]
Description=WebDAV Server
After=network.target
#RequiresMountsFor=${NFS_PATH}

[Service]
ExecStart=/opt/webdav/webdav serv -c /opt/webdav/app.jsonc
ExecStop=/bin/kill -s QUIT ${MAINPID}
Restart=on-failure
TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
